body {
    background: linear-gradient(To Right, rgb(193, 230, 32), rgb(113, 214, 45));
  }
  .container {
    opacity: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    background: lightgray;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    font-family: "Red Hat Mono", monospace;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.171);
    margin: 0 auto;
  }
  .container h3 {
    color: black;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px;
  }
  .container input[type="text"],
input[type="password"] {
  height: 30px;
  outline: none;
  font-size: 13px;
  border: 2px solid rgb(104, 197, 104);
  box-sizing: content-box;
  width: 220px;
  margin-bottom: 15px;
}

.container label {
  font-weight: "Montserrat", sans-serif;
  font-weight: bold;
}

.container h5 {
  font-size: 15px;
  text-align: center;
  margin: 5% 0;
}

.container button {
  border-radius: 4px;
  font-size: 20px;
  color: white;
  border: none;
  font-family: "Red Hat Mono", monospace;
  padding: 1% 2%;
  margin: 0 5%;
  transition: all 0.1s ease-in-out;
}
.container #submit {
  margin-left: 25%;
  background: rgb(89, 206, 89);
}
.container #cancel {
  background: rgb(206, 93, 89);
}

.container #submit:hover {
  background: rgb(74, 173, 74);
  transition: all 0.1s ease-in-out;
}

.container #cancel:hover {
  background: rgb(161, 71, 68);
  transition: all 0.1s ease-in-out;
}

  